/* Import der benutzerdefinierten Schriftart */
@font-face {
    font-family: 'island_momentsregular';
    src: url('./fonts/island_momentsregular/islandmoments-regular-webfont.woff2') format('woff2'),
         url('./fonts/island_momentsregular/islandmoments-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Globale Stile */
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    display: flex;
    padding: 0 15vb;
    margin: 0;
    font-size: 0.9rem;
    color: gray;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Hintergrundbild */
.background {
    display: flex;
    flex: 1;
    background: no-repeat center/auto 100% url("./media/background-image.jpg");
    position: relative;
}

/* Overlay für das Logo */
.overlay {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 20%;
    background-color: rgb(241, 212, 171);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    flex-direction: column;
    color: gray;
}

/* Menü-Bereich */
.menu {
    display: flex;
    flex: 2;
    flex-direction: column;
}

/* Sektionen im Menü */
.section1, 
.section2,
.section3 {
    display: flex;
    height: 100px;
    background-color: #f4eee8;
}

.section1 {
    font-family: island_momentsregular, Arial;
    color: rgb(1, 106, 176);
    font-size: 4.5rem;
    justify-content: center;
    align-items: center;
    flex: 1.3;
}

.section2 { 
    flex: 2.8;
    border: 1px solid white;
}
.section3 { flex: 1; }

/* Text in section1 */
.section1 p {
    display: flex;
}

/* Markenname im Overlay */
.brand-name {
    font-size: 3rem;
    font-family: island_momentsregular;
    margin-top: -20px; /* Feinanpassung */
}

/* Bild-Credits */
.image-credits {
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    text-align: center;
    background-color: rgba(37, 101, 180, 0.8);
    color: white;
    padding: 2px 4px;
    border: 1px solid white;
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Formular-Stile */
form {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

form .row {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: flex-start;
    gap: 3.5rem;
}


button:hover {
    background-color: white;
    color:  gray;
    border: 1px solid  rgba(37, 101, 180); 
}

input,
button,
select {
    font-size: inherit;
    font-family: inherit;
    border: 1px solid rgb(0, 0, 0, 0.5);
    height: 1.6rem;
    width: 16rem;
    color: grey;
}

input:user-invalid {
border: 1px solid red;
}

input:user-valid {
    border: 1px solid green;
    }

input {
    position: relative;
}

input:user-invalid + span::after{
    position: absolute;
    content: "✘";
    color: red;
    margin-left: 6px;
    margin-top: 4px;
    }

input:user-valid + span::after{
    position: absolute;
    content: "✔";
    color: green;
    margin-left: 6px;
    margin-top: 4px;
    }

label {
    background-color: rgba(37, 101, 180); 
    color: white;
    width: 50%;
    margin-bottom: 2px;
    padding: 2px 4px 4px 4px;
    font-size: 0.85em;
}

.input {
    display: flex;
    flex-direction: column;
}


button {
    width: 15rem;
    height: 3rem;
    padding: 1rem;
    background-color: rgba(37, 101, 180);
    color: white;
    border: 1px solid white;
    margin: 30px;
    }

    .tooltip {
        position: relative;
    }

    .tooltip::after {
        visibility: hidden;
        position: absolute;
        left: 100px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(37, 101, 180);
        color: gray;
        padding: 1px 2px;
        white-space: nowrap;
        text-align: center;
        overflow: visible;
        content: "must be at least 10 characters long and contain at least one number and one special character @$!%*?&";
    }

    .tooltip:hover::after {
        visibility: visible;
    }